{% extends "widget.html" %}

{% block title %}AI Głosowe - Strona główna{% endblock %}

{% block content %}

  <h1>Sterowanie Głosowe z AI</h1>

  <h2 class="mb-4">Blogi</h2>

  <div class="mb-3">
    <a href="/blogs/new" class="btn btn-success">Dodaj nowy blog</a>
  </div>

  <div class="list-group">
    {% for blog in blogs %}
      <a href="{{ url_for('view_blog', blog_id=blog['id']) }}" class="list-group-item list-group-item-action">
        {{ blog.title }}
      </a>
    {% endfor %}
  </div>

{% endblock %}